include setup.cfg

include README.rst
include screenshot.png
include LICENSE
include turq/editor/codemirror/LICENSE
include CHANGELOG.rst

include pylintrc

# Even though Travis and AppVeyor only works on a Git repo,
# these files are important as references on the build procedures.
include .travis.yml
include appveyor.yml

graft tests
graft docs
prune docs/_build
graft tools

global-exclude *.pyc
